$primary: hsl(0, 0%, 7%);
$opaque: hsla(0, 0%, 7%, 0.25);
$primary-light: hsl(0, 0%, 14%);
$primary-dark: hsl(0, 0%, 3%);

$text: hsl(232, 25%, 94%);
$brand: hsl(275, 100%, 69%);

$text-xs: 1.6rem;
$text-sm: 1.8rem;
$text-md: 2.2rem;
$text-lg: 3.6rem;
$text-xl: 5.6rem;
$text-2xl: 9.6rem;
